@import "960_12_col.css";
@import "normalize.css";

#top {
    background: url("../img/back.jpg") no-repeat center top;
    background-size: cover;
}

#showcase {
    z-index: 10;
}

#intro {
    z-index: 0;
    padding-top: 60px;
}

#intro p {
    color: #fff;
    font: 22px/35px Arial, sans-serif;
    text-align: justify;

}

#intro p span {
    display: inline;
    background-color: rgba(0,0,0,0.4);
    padding: 5px 0;
}

#intro h1 {
    position: relative;
    font-size: 54px;
    background-color: #F8B040;
    color: #fff;
    padding: 5px 10px 5px 60px;
    left: -60px;
    width: 390px;
    margin-bottom: .4em;
}

#bottom {
    border-top: 1px solid #e6e6e6;
    margin: -130px 0 0 0;
    width: 100%;
    height: 600px;
     background-color: #fff;
}

#bottom div {
    margin-bottom: 1.67em;
}

h2 {
    margin-top: 0;
    background-color: #F8B040;
    color: #fff;
    padding: 5px 10px;
    display: inline;
    display: inline-block;
}

#bottom p, li {
    font: 16px/1.67em Arial, sans-serif;
    color: #333;
    opacity: 0.8;
    text-align: justify;
}

#bottom a {
    color: #0041C4;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px dotted #0041C4;
}

.grid_5 img {
    display: block;
    margin: 0 auto;
}